* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#e{
    margin-top: 20px;
}


   


#cards{
    /* margin: 200px; */
    margin-top: 60px;
    height: 500px;
    width: 330px;
    /* outline: 2px solid black ; */
    transition: all 0.2s;
    border-left: 7px solid;
    border-image: linear-gradient(tomato, #b676e0) 30;
    border-image-slice: fill;
    box-shadow: 5px 10px 12px gray;
    
    
}

body{
    font-family: 'Raleway', sans-serif;
    
}
#image{
    text-align: center;
}
h1 {
    text-align: center;
    
}


#matlab{
    padding-top: 5px;
    height:300px;
    width:300px;
}



#des{
    height: 80px;
    width: 320px;
    text-align: center;
    padding-left: 35px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
 }
 

#mat{
    width: 300px;
    text-align: center;
    padding-left: 50px;
    padding-top: 10px;
}

#cards:hover{
    box-shadow: 10px 20px 40px gray;
    transform: scale(1.05);
}

section{
    margin: 40px;
}



